
.container {
    max-width: 730px;
}

h1, h2, h3, .navbar {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2.7em !important;
}

.navbar{
    font-size: 1.6em;
}
.navbar-brand {
    font-size: 1.1em;

}

.red {
    color: #B02B2C;
}

blockquote {
    border-left: 5px solid #777;
    background-color: #eee;
}

td.small {
	font-size: 85%;
	color: #999;
}

.blogpost .title  {
    margin-top: 60px;
    margin-bottom: 50px;
    border-left: 12px solid #B02B2C;
    padding-left: 12px;
}