body {
    padding-top: 70px;
}
.container {
    max-width: 730px;
}

h1, h2, h3, .navbar {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    /*font-weight: 100;
    letter-spacing: 1px;*/
}

h1 {
    font-size: 4em;
}

.navbar{
    font-size: 2em;
}
.navbar-brand {
    font-size: 1.3em;

}

.red {
    color: #B02B2C;
}

