
.container {
    max-width: 730px;
}

h1, h2, h3, .navbar {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 4em;
}

.navbar{
    font-size: 2em;
}
.navbar-brand {
    font-size: 1.3em;

}

.red {
    color: #B02B2C;
}

blockquote {
    border-left: 5px solid #777;
    background-color: #eee;
}