<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">
            I'm Mathias Verraes.<br>
            I build <span class="red">enterprise<br>
            web applications</span>.<br>
            I help teams <span class="red">escape</span><br>
            from <span class="red">survival mode</span>.
        </h1>
        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="http://www.gravatar.com/avatar/3a7cb0c3c8d5864e2e72c49cafc3e4d5?s=150" alt="Picture of Mathias Verraes">
            </a>
            <div class="media-body">
                <p style="text-align: justify">
                    I'm an independent consultant. I advise companies on how to build enterprise applications for complex business
                    domains. As a team leader, I help developers to use best practices. I specialize in curing large legacy
                    projects: writing tests for untestable code, refactoring to Domain Driven Design, and giving the
                    applications a second life.
                </p>
            </div>
        </div>
    </div>
</div>
