<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52c734e9062b118a"></script>
<script type="text/javascript">
    addthis.layers({
        'theme' : 'transparent',
        'share' : {
            'position' : 'left',
            'numPreferredServices' : 5
        },
        'follow' : {
            'services' : [
                {'service': 'twitter', 'id': 'mathiasverraes'},
                {'service': 'linkedin', 'id': 'mathiasverraes'},
                {'service': 'google_follow', 'id': '106694178664091115384'}
            ]
        }
    });
</script>
<!-- AddThis Smart Layers END -->