<dl>

    <dt>
        My resume
    </dt>
    <dd>
        <a href="/Resume_Mathias_Verraes.pdf" title="Download the resume of Mathias Verraes">
            Download pdf
        </a>
    </dd>
    <dt>
        E-mail / Hangouts
    </dt>
    <dd>
        <a href="mailto:mathias@removethis@verraes.net" title="Send an email to Mathias Verraes">
            mathias@verraes.net
        </a>
    </dd>
    <dt>Skype</dt>
    <dd>
        <a href="skype:mathias.verraes?add" title="Add Mathias Verraes on Skype">
            mathias.verraes
        </a>
    </dd>
    <dt>Twitter</dt>
    <dd>
        <a href="http://twitter.com/mathiasverraes" title="Mathias Verraes on Twitter">
            @mathiasverraes
        </a>
    </dd>
    <dt>Kindle</dt>
    <dd>
        <a href="https://kindle.amazon.com/profile/Mathias-Verraes/722986/read"
           title="Mathias Verraes Reading list on Kindle">
            Books I've read
        </a>
    </dd>
    <dt>GitHub</dt>
    <dd>
        <a href="https://github.com/mathiasverraes" title="Fork Mathias Verraes on GitHub">
            mathiasverraes
        </a>
    </dd>
    <dt>LinkedIn</dt>
    <dd>
        <a href="http://www.linkedin.com/in/mathiasverraes" title="Mathias Verraes on LinkedIn">
            mathiasverraes
        </a>
    </dd>
    <dt>Facebook</dt>
    <dd>
        <a href="http://www.facebook.com/mathias.verraes" title="Mathias Verraes on Facebook">
            mathias.verraes
        </a>
    </dd>

    <dt>
        IMDb
    </dt>
    <dd>
        <a href="http://www.imdb.com/name/nm1637714/" title="Mathias Verraes on the Internet Movie Database">
            Films I've been involved with
        </a>
    </dd>
    <dt>SoundCloud</dt>
    <dd>
        <a href="http://soundcloud.com/mathias-verraes" title="Songs by Mathias Verraes on Soundcloud">
            Some of my music
        </a>
    </dd>
</dl>