<footer>
    <div class="wrapper">
        <ul class="social">
            <li>
                <a href="Resume_Mathias_Verraes.pdf" title="Download the resume of Mathias Verraes" class="hint hint--top" data-hint="Download my resume">
                    <img src="/img/social/cv.png" height="32" width="32" alt="cv"/>
                </a>
            </li>
            <li>
                <a href="mailto:mathias@removethis@verraes.net" title="Send an email to Mathias Verraes" class="hint hint--top" data-hint="Send me an email at mathias @ verraes . net">
                    <img src="/img/social/email.png" height="32" width="32" alt="email"/>
                </a>
            </li>
            <li>
                <a href="skype:mathias.verraes?add" title="Add Mathias Verraes on Skype" class="hint hint--top" data-hint="Talk to me on Skype: mathias.verraes">
                    <img src="/img/social/skype.png" height="32" width="32" alt="skype"/>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/mathiasverraes" title="Mathias Verraes on Twitter" class="hint hint--top" data-hint="Follow me on Twitter: @mathiasverraes">
                    <img src="/img/social/twitter.png" height="32" width="32" alt="twitter"/>
                </a>
            </li>
            <li>
                <a href="http://www.facebook.com/mathias.verraes" title="Mathias Verraes on Facebook" class="hint hint--top" data-hint="Friends and family can find me on Facebook">
                    <img src="/img/social/facebook.png" height="32" width="32" alt="facebook"/>
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/in/mathiasverraes" title="Mathias Verraes on LinkedIn" class="hint hint--top" data-hint="Connect to me on Linkedin">
                    <img src="/img/social/linkedin.png" height="32" width="32" alt="linkedin"/>
                </a>
            </li>
            <li>
                <a href="http://www.imdb.com/name/nm1637714/" title="Mathias Verraes on the Internet Movie Database" class="hint hint--top" data-hint="My Internet Movie Database profile from when I was a composer">
                    <img src="/img/social/imdb.png" height="32" width="32" alt="IMDB"/>
                </a>
            </li>
            <li>
                <a href="http://soundcloud.com/mathias-verraes" title="Songs by Mathias Verraes on Soundcloud" class="hint hint--top" data-hint="Some of my old songs are on SoundCloud. Remind me to upload more :-)">
                    <img src="/img/social/soundcloud.png" height="32" width="32" alt="soundcloud"/>
                </a>
            </li>
            <li>
                <a href="https://kindle.amazon.com/profile/Mathias-Verraes/722986/read" title="Mathias Verraes Reading List on Kindle" class="hint hint--top" data-hint="A incomplete list of books I've read in recent years.">
                    <img src="/img/social/kindle.jpeg" height="32" width="32" alt="Kindle"/>
                </a>
            </li>
            <li>
                <a href="https://github.com/mathiasverraes" title="Fork Mathias Verraes on GitHub" class="hint hint--top" data-hint="I'm mathiasverraes on GitHub">
                    <img src="/img/social/github.png" height="32" width="32" alt="GitHub"/>
                </a>
            </li>
            <li><a href="/feed" title="Blog RSS feed" class="hint hint--top" data-hint="RSS feed for this blog">
                <img src="/img/social/rss.png" height="32" width="32" alt="RSS"/>
            </a>
            </li>
        </ul>
    </div>
</footer>