<div class="well">
    <h2>News</h2>
    <ul>
        <li>I'm currently available for training (Domain-Driven Design, testing, refactoring, ...), as well as for Model Storming facilitation, and short term consultancy assignments.
        </li>
        <li>
            Konstantin Kudryashov and I started a podcast on PHP and Design called <a href="http://elephantintheroom.io">Elephant in the Room</a>
        </li>
    </ul>
    <h2>Speaking engagements</h2>
    <ul>
        <li>
            <a href="/2014/03/practical-event-sourcing/">Practical Event Sourcing</a>
            at <a href="http://conference.phpne.org.uk/">PHPNE</a> in Newcastle upon Tyne, UK, March 18, 2014
        </li>

        <li>
            <a href="/2014/01/model-storming-workshop/">Model Storming Workshop</a>
            at <a href="http://devnology.nl">Devnology</a>, location tba, Netherlands, June 4, 2014
        </li>
        <li>
            <a href="/2014/03/practical-event-sourcing/">Practical Event Sourcing</a>
            and Modelling with Domain Events (workshop)
            at Dutch PHP Conference, June, 2014
        </li>
    </ul>
</div>