<div class="well">
    <h2>News</h2>
    <ul>
        <li>I'm currently available for software consultancy, for private & public Domain-Driven Design workshops, and for Kanban facilitation.
        </li>
    </ul>
    <h2>Upcoming</h2>

    <ul>
        <li>
            <a href="/workshops"><strong>All workshops</strong></a>
        </li>
        <li>
            <a href="/2013/09/extract-till-you-drop/">Extract Till You Drop</a>
            at <a href="http://afup.org/pages/phptourlyon2014/">PHP Tour Lyon</a>, Lyon, France, June 23-24, 2014
        </li>
        <li>
            <a href="/2014/03/practical-event-sourcing/">Practical Event Sourcing</a>
            and <strong>Modelling with Domain Events (workshop) Sold out!</strong>
            at Dutch PHP Conference, Amsterdam, June 26-28, 2014
        </li>
        <li>
            <a href="/2014/06/workshop-domain-driven-design-ghent/">Workshop: Experiencing Domain-Driven Design</a>
            in Ghent, Belgium, August 20-22, 2014
        </li>
        <li>
            Workshop: Domain-Driven Design for Symfony Developers
            at <a
                href="http://www.sensiolabs.co.uk/blog/the-symfonylive-london-workshops-are-back?dm_i=22MH,2HXIL,FIYOR3,93DTC,1">Symfony
            Live</a>, London, Uk, September 25, 2014
        </li>
        <li>
            <a href="http://www.zilverline.com/training/strategic-domain-driven-design-workshop-20-october-2014">Workshop:
                Strategic Domain-Driven Design</a>
            in Breukelen, The Netherlands, October 20-21
        </li>
    </ul>
</div>