<div class="well">
    <h2>News</h2>
    <ul>
        <li>I'm currently available for Domain-Driven Design Workshops, as well as for Model Storming facilitation, and consultancy assignments.</li>
        <li>
            Konstantin Kudryashov and I started a podcast on PHP and Design called <a href="http://elephantintheroom.io">Elephant in the Room</a>
        </li>
    </ul>
    <h2>Upcoming</h2>
    <a href="/workshops" role="button" class="btn btn-default btn-lg "> Domain-Driven Design workshops in Belgium, UK, The Netherlands, ... </a>

    <ul>
        <li>
            <a href="/2014/01/model-storming-workshop/">Model Storming Workshop</a>
            at <a href="http://devnology.nl">Devnology</a>, Rotterdam, Netherlands, June 4, 2014
        </li>


        <li>
            <a href="/2013/09/extract-till-you-drop/">Extract Till You Drop</a>
            at <a href="http://afup.org/pages/phptourlyon2014/">PHP Tour Lyon</a>, Lyon, France, June 23-24, 2014
        </li>


        <li>
            <a href="/2014/03/practical-event-sourcing/">Practical Event Sourcing</a>
            and <strong>Modelling with Domain Events (workshop)</strong>
            at Dutch PHP Conference, Amsterdam, June 26-28, 2014
        </li>

        <li>
            Domain-Driven Design for Symfony Developers
            at <a href="http://www.sensiolabs.co.uk/blog/the-symfonylive-london-workshops-are-back?dm_i=22MH,2HXIL,FIYOR3,93DTC,1">Symfony Live</a>, London, Uk, September 25, 2014
        </li>
    </ul>
</div>