<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <title>{{ page.title }}</title>
	<meta name="description" content="Independent Software Consultant">
	<meta name="author" content="Mathias Verraes">
	<link rel="alternate" type="application/atom+xml" title="Blog" href="/feed.atom" />
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	<link href="/css/syntax.css" rel="stylesheet" type="text/css" />
    <link href="/css/hint.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/v3-custom.css" rel="stylesheet">
</head>
<body>


<!-- {% include githubribbon.html %} -->

{% include v3-navigation.html %}

<div class="container">
{{ content }}
</div>


<!-- {% include footer.html %}-->

<script src="//code.jquery.com/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2620608-6']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>
</html>