---
layout: default
---
<header>
	<div class="wrapper">
		<h1 id="logo"><a href="/">Mathias Verraes</a></h1>
	</div>
</header>

<div id="wrapper">
	<section id="blog">
		<div id="post">
			<h2>{{ page.title }}</h2>
			<small><em>{{ page.date | date_to_string }}</em></small><br /><br />
			{{ content }}
			<a href="https://github.com/mathiasverraes/mathiasverraes.github.com/edit/master/_posts/{{page.filename}}">Add a comment in GitHub</a>
		</div>
	</section>

	{% include blogposts.html %}
</div>


